/* Main CSS for My Website */
.gradient-bloody-mimosa {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.text-6xl {
    background: -webkit-linear-gradient(45deg, #24dfaf, #24bcdf, #a424df, #df245c, #ff9c00, #24dfaf, #24bcdf, #a424df, #df245c, #ff9c00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1800% 1800%;
    animation: anim-bg-grad 60s ease infinite;
}

@keyframes anim-bg-grad {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 51%
    }
    100% {
      background-position: 0% 50%
    }
  }