html {
scroll-behavior: smooth;
}

/* New Background Color */
.bg-gray-new {
  background-color: #EEEBE6;
}

/* Main Helvetica Now Font */


/* Making CTA Larger on Large Monitors */
@media only screen and (min-width: 1024px) {
  .CTA {
    font-size: 5rem;
  }
  }
@media only screen and (min-width: 1600px) {
.CTA {
  font-size: 6rem;
}
}

/* Spacing Paragraphs */
p {
  padding-bottom: 0.75rem;
  }

/* Button Gradients */
.gradient-button {
    background: linear-gradient(190deg, #615F5B 0%, #1D1B1B 100%);
}

/* Prevents flickering for Scrollreveal animations during page loading */
html.sr .load-hidden {
  visibility: hidden;
}

.grid-overlay img {
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
  transition: filter 250ms ease;
  -webkit-transition: -webkit-filter 250ms ease-in-out;
}

.grid-overlay img:hover {
  filter: brightness(75%);
  -webkit-filter: brightness(75%);

}

/* Removes Blue Outline on Button Clicks */
button:focus {
  outline: none;
}

/* Super cool gradient animation for my CTA */
.text-6xl {
    background: -webkit-linear-gradient(45deg, #24dfaf, #24bcdf, #a424df, #df245c, #ff9c00, #24dfaf, #24bcdf, #a424df, #df245c, #ff9c00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1800% 1800%;
    animation: anim-bg-grad 60s ease infinite;
}
@keyframes anim-bg-grad {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 51%
    }
    100% {
      background-position: 0% 50%
    }
  }

/* Angled Home Background */
/* .angled-top {
  background:linear-gradient(50deg, #EDF2F7, #EDF2F7 67%, #F7FAFC 67%, #F7FAFC);
}

@media only screen and (max-width: 1024px) {
.angled-top {
  background:linear-gradient(50deg, #EDF2F7, #EDF2F7 57%, #F7FAFC 57%, #F7FAFC);
}
} */

.bg-scoot {
  background-color: #fff100;
}

.bg-tt {
  background-color: #a71c20;
}

.bg-refine {
  background-color: #131E29;
}

.bg-refine-gold {
  background-color: #D29F13;
}

.center { display: none; }
.center.slick-initialized { display: block; }
.center-2 { display: none; }
.center-2.slick-initialized { display: block; }
.center-3 { display: none; }
.center-3.slick-initialized { display: block; }